@font-face {
    font-family: 'YUniverse';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'YUniverse';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/kt/YUniverseBold.ttf') format("truetype");
    font-display: swap;
} 